/*common shared style*/

/*Header style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 200px 10px 200px;
}
ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
.text-primary {
  font-family: "Open Sans", sans-serif;
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav a {
  text-decoration: none;
}
.btn-hireme {
  height: 64px;
  border-radius: 5px;
  border: none;
  background: #fd6e0a;
  color: white;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
}
.i {
  color: #fd6e0a;
}
.header {
  background-color: #fff8f3;
  padding-bottom: 0px;
}
.banner {
  display: flex;
  padding: 0;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  justify-content: space-between;
  margin-bottom: 0px;
}
.banner-text {
  max-width: 700px;
}
.banner image {
  width: 500px;
}
.banner h3 {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0px;
}
.banner h1 {
  color: #181818;
  margin-top: 5px;
  font-family: Open Sans;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 0px;
}
.banner-description {
  margin-top: 20;
  margin-bottom: 20px;
}
.dev-img {
  margin-bottom: 30px;
}

/*main style*/
.about {
  max-width: 1140px;
  height: 550px;
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 120px;
  padding: 131px 155px;
}
.about-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.me-des {
  color: var(--dark-03, #757575);
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.info-des {
  color: black;
}
.info-title {
  color: #757575;
}
#what-i-do-des {
  text-align: center;
  padding: 30px 130px;
}
section {
  margin-top: 130px;
}
/* skill related style */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill-des {
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.skill {
  padding: 30px 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume style */
.resume-container {
  display: flex;
  gap: 70px;
}
.resume-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.resume-item-info {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
}
.resume-item-inst {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.resume-item-des {
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.rfesume-containar hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 20px;
}
/* --------------------footer------------ */
footer {
  display: flex;
  justify-content: center;
  background: #fff8f3;
  padding: 130px 200px;
  margin-top: 100px;
}
